* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E1E1E1;
  overflow: hidden;
}

.cover {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: bottom;
  /* animation: animateBg 8s ease-in-out; */
}

@keyframes animateBg {
  0%{
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  opacity: 0;
  background: #fdd401;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(253, 212, 1, 0.1), 0 0 0 8px rgba(253, 212, 1, 0.1), 0 0 0 20px rgba(253, 212, 1, 0.1);
  animation: stars 3s linear infinite;
}

.stars span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fdd401, transparent);
}

@keyframes stars {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 0.2;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.stars span:nth-child(even) {
  animation-timing-function: ease-in-out;
}

.stars span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

.stars span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.stars span:nth-child(3) {
  top: 80px;
  right: 0;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.stars span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.stars span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

.stars span:nth-child(6) {
  top: 0;
  right: 600;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}

.stars span:nth-child(7) {
  top: 300px;
  right: 0;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 3s;
}

.stars span:nth-child(8) {
  top: 0;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

.stars span:nth-child(9) {
  top: 300px;
  right: 1000px;
  left: initial;
  animation-delay: 0.7s;
  animation-duration: 2.25s;
}

.stars span:nth-child(10) {
  top: 0;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.years span,.years a {
  font-weight: bold;
  cursor: pointer;
  border-radius: 20% 20% 0 0;
  border-top: 2px solid #fdd401;
  text-align: center;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 100%);
  color: #fff;
}
.years a:hover{
  text-decoration: none;
  transition: 0.3s;
  transform: translate(0%,-10%) scale(1.1);
}

@media only screen and (max-device-width : 768px) {
  .dnsm{
    display: none;
  }
}
@media only screen and (min-device-width : 768px) {
  .dnlg{
    display: none;
  }
}